<section class="c-profile">
	<h4>Tom</h4>
	<div class="c-profile__container">
		<figure class="c-profile__pic c-profile__section">
			<img src="https://source.unsplash.com/400x800/?face">
			<caption>View my <a>Pics</a> <a>Videos</a></caption>
		</figure>
		<div class="c-profile__info">
			<div>
				":-)"
			</div>
			<div>
				Male,<br>
				30 years old<br>
				Santa Monica,<br>
				CALIFORNIA<br>
				United States
			</div>
			<div>
				Last Login:
				<span>8/27/2006</span>
			</div>
		</div>
	</div>
	<div class="c-profile__linksc-profile__section">
	<div class="c-profile__links ">
		<h5>Contacting Tom</h5>
		<div>
			<ul>
				<li>Send Message</li>
				<li>Add to Friends</li>
				<li>Instant Message</li>
				<li>Add to Group</li>
				<li>Forward to Friend</li>
				<li>Add to Favorites</li>
				<li>Block User</li>
				<li>Rank User</li>
			</ul>
		</div>
	</div>
	<div class="c-profile__interests c-profile__section">
		<h5>Tom's Interests</h5>
		<div>
			<div class="c-interest__section">
				<dt>General</dt>
				<dl>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dl>
			</div>
			<div class="c-interest__section">
				<dt>Music</dt>
				<dl>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dl>
			</div>
		</div>
	</div>
</section>